auth.json
auth.yml
users.yml
audit.log

# GoLand
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
app/daemon/*.yml
app/daemon/logs/
build/
events/
app/daemon/events/
travis_deploy_key
logs
# contains dummy yml files to test some functions in frontend.go
# in particular, parsing and configuring ram and cpu values.
store/test_ymls/
dist/*
node_modules/

# no need to push local certificates
localcerts/