<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{.EventName}}</title>
		<link rel="stylesheet" href="/assets/css/amigo.css">
		<link href="https://fonts.googleapis.com/css?family=Orbitron|Ubuntu&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	</head>
    <body>
	{{ template "navbar" . }}
	<main id="content">
	    {{ template "content" . }}
		<img class="wave-bg-footer" src="/assets/img/smallwave-footer.png">
	</main>
	<footer class="footer">
		<div class="container text-center">
			<p style="margin:0px">
				Event powered by <a href="https://github.com/aau-network-security/haaukins">Haaukins platform</a> designed at <a href="https://aau.dk">Aalborg University</a>
			</p>
		</div>
	</footer>
	<script defer src="/assets/js/fa.js"></script>
	<script defer src="/assets/js/amigo.js"></script>
	<script defer src="/assets/js/app.js"></script>
	<script defer src="/assets/js/chunk-vendors.js"></script>
    </body>
</html>
