{{ define "content" }}
<img class="wave-bg-general" src="/assets/img/wave-general-bot.png" xmlns="http://www.w3.org/1999/html">
<div class="container" id="infopage">
    <div class="row mb-botpage">
        <div class="col-lg-4 col-md-0"></div>
        <div class="col-lg-12 col-md-0">
            <h1 class="text-center mt-toppage mb-2"><i class="fa fa-info-circle " aria-hidden="true"></i>  Information Point</h1>
            </div>
           <div class= "col-lg-12 col-md-12" style="text-align: right">
               <a href="https://github.com/aau-network-security/haaukins/edit/master/svcs/amigo/resources/private/info.tmpl.html"><i class="fas fa-edit " aria-hidden="true"></i> Edit this page</a>
           </div>
            <div style="width: 100%">
                <div role="alert" class="alert alert-primary mt-3" style="text-align: center;">
                    <p>This page contains some basic instructions and troubleshooting for your environment. </p>
                 {{ if .IsVPN }}
                    <p> Use following information below to setup your VPN configuration and manage the situations when you receive error. </p>
                 {{ end }}
                </div>
                <div class="alert alert-warning mt-3 " style="text-align: center;" role="alert">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> YOUR LAB SUBNET: <b style="font-weight: bold; color:red;"> {{ .LabSubnet }} </b>
                </div>
                    <div>
                        <div class=" mb-3">
                            <div class="nav nav-tabs nav-fill" id="info-tab" role="tablist">

                              {{ if or (eq .IsVPN 1) (eq .IsVPN 2 ) }}
                                <a class="nav-item nav-link active" id="vpn-conn-tab" data-toggle="tab" href="#vpn-conn" role="tab">VPN Connection</a>
                              {{ end }}

                                {{ if or (eq .IsVPN 0) (eq .IsVPN 2) }}
                                <a {{ if eq .IsVPN 0 }} class="nav-item nav-link active" {{ else }}  class="nav-item nav-link" {{ end }} id="copy-clipboard-tab" data-toggle="tab" href="#copy-clipboard" role="tab">Copy / Paste</a>
                                <a class="nav-item nav-link" id="conn-error-tab" data-toggle="tab" href="#conn-error" role="tab">Connection Error</a>
                                {{ end }}
                            </div>
                            <div class="tab-content p-3" id="nav-tabContent">
                                {{ if or (eq .IsVPN 1) (eq .IsVPN 2 ) }}
                                <div class="tab-pane fade show active" id="vpn-conn" role="tabpanel" aria-labelledby="vpn-conn-tab">

                                    In order to have VPN connection into virtualized lab environment on Haaukins,
                                    you need to install Wireguard client for your computer. <br><br>

                                    <b>Installation guideline for variety of clients are available on official website of Wireguard.</b>

                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">Install Wireguard Client</p>

                                    <li> Installation instructions for all clients: <a href="https://www.wireguard.com/install/">https://www.wireguard.com/install/</a></li>

                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">User Scripts</p>
                                    <li> Install Wireguard script : <a href="https://raw.githubusercontent.com/Mymaqn/wireguardhaaukins/main/install_wireguard.sh">install_wireguard.sh</a> </li>
                                    <li> Connect Event script: <a href="https://raw.githubusercontent.com/Mymaqn/wireguardhaaukins/main/connectwireguard.py">connect_event.py</a> </li>
                                    <li> Connect Event script is making your Wireguard interface up and modifies your <code>/etc/hosts</code> file</li>
                                    <li> If you notice outdated information, help us to update :)</li>
                                    <li> Use the scripts with your responsibility. </li>


                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">Lab Information</p>
                                        <li>Your Lab subnet: <b><code>{{ .LabSubnet }}</code></b></li>
                                        <li>To begin, start with scanning lab subnet</li>
                                        <li>Ignore first IP address from AllowedIPs (etc 10.33.212.1)</li>
                                        <li>A team has four different configuration files</li>
                                        <li>Four people can solve challenges simultaneously on VPN connection</li>
                                        <li>Make sure each member of team using different configuration file</li>
                                        <li>In configuration file, you will have hosts information.</li>
                                        <li>Append hosts information in configuration file to your local <code>/etc/hosts</code> file.</li>

                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">For Linux users: (after installation of client)</p>

                                        <li> * If you used scripts given above, you can skip steps below </li>
                                        <li> Download the configuration file from the event page</li>
                                        <li> Place the configuration file under <b><code>/etc/wireguard/</code></b></li>
                                        <li> Connect VPN by typing <b><code>wg-quick up filename</code></b></li>
                                        <li>  If you receive <b><code> resolvconf: command not found </code></b> error: </li>
                                        <li> (On KALI and Debian Based Operating Systems)</li>
                                        <li> <b><code> ln -s /usr/bin/resolvectl /usr/local/bin/resolvconf </code></b> </li>
                                        <li> If given command DOES NOT solve your problem do following: ( if the problem solved <b>SKIP THIS STEP</b> ) </li>
                                        <li> <b><code> sudo apt-get update -y && sudo apt-get install resolvconf -y </code></b></li>
                                        <li>If you receive <b><code>Unknown interface 'tun': No such device</code></b>, remove <code>DNS = 1.1.1</code> from VPN configuration file</li>
                                        <li> Make sure about filename when you are connecting to VPN</li>
                                        <li> Check connection with <b><code>wg</code></b> command </li>



                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">For MacOS users: (after installation of client)</p>

                                        <li> Install GUI or CLI client from <a href="https://www.wireguard.com/install/">installation page</a></li>
                                        <li> If you are using GUI, just import configuration file and activate it </li>
                                        <li> If you are using CLI, place conf file under  <b><code>/etc/wireguard/</code></b></li>
                                        <li> Connect VPN by typing <b><code>wg-quick up filename</code></b> </li>
                                        <li> Make sure about filename when you are connecting to VPN</li>
                                        <li> Check connection with <b><code>wg</code></b> command</li>

                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; ">GUI Example (For MacOS users)</p>

                                    <video class="img-fluid" controls>
                                        <source src="/assets/img/wireguard_conn_mac.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>

                                    <p class="p-2 mt-2 dark-color mb-0" style="font-weight: bold; color:red;">For Windows users: (after installation of client)</p>

                                        <li> Download application from <a href="https://www.wireguard.com/install/">installation page</a></li>
                                        <li> Import configuration file as shown for MacOS</li>
                                        <li> Make sure handshake is successfully done.</li><br>
                                </div>
                                {{ end }}

                                {{ if or (eq .IsVPN 0) (eq .IsVPN 2) }}
                                <div {{ if eq .IsVPN 0 }}  class="tab-pane fade show active" {{ else }}  class="tab-pane fade" {{ end }} id="copy-clipboard" role="tabpanel" aria-labelledby="copy-clipboard-tab">
                                    <p class="dark-color">
                                        In order to copy from Host to VM on the browser and the way around, these are the following command:
                                        <br><br>
                                          <li> On Windows & Linux: <strong class="text-black">Ctrl+Alt+Shift</strong></li>
                                          <li> On MacOS: <strong class="text-black">Ctrl+Command+Shift</strong></li>
                                        <br><br>
                                        You might need to logout and login to VM cause sometimes keyboard combination is getting broken.
                                        For example, when you type A it writes E.
                                    </p>
                                    <video class="img-fluid" controls>
                                        <source src="/assets/img/CopyToClipboard.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="tab-pane fade" id="conn-error" role="tabpanel" aria-labelledby="conn-error-tab">
                                    <div class="text-center">
                                        <img class="img-fluid" src="/assets/img/connection-error.png">
                                    </div>
                                    <p class="p-2 mt-2 dark-color mb-0">
                                        There are multiple reasons behind this error for example:
                                        <br><br>
                                            <li> The VM crashed and you can not connect it </li>
                                            <li> There might be multiple open tabs with same VM instance</li>
                                            <li> After a while without any activity the VM goes into sleep mode</li>
                                            <li> There might be poor internet connection</li>
                                        <br><br>
                                        In order to solve this error try out those steps:
                                        <br><br>
                                            1. Close all the VM Tabs<br>
                                            2. Log out and login on event page<br>
                                            3. Click <strong>RESET Kali Machine</strong> button from challenges page<br>
                                            4. In case you still get the error create a new team
                                    </p>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>

{{ end }}
