{{ define "content" }}
<section class="section">
    <div class="container">
	<form class="form" method="post" action="/login">
	    <h1 class="title">Login</h1>
	    <div class="field">
		<label class="label">Email</label>
		<p class="control">
		    <input class="input" name="email" type="email" placeholder="Email" {{with .Content }}value="{{ .Email }}"{{end}}>
		</p>
	    </div>
	    <div class="field">
		<label class="label">Password</label>
		<p class="control">
		    <input class="input" name="password" type="password" placeholder="Password">
		</p>
	    </div>
	    {{ with .Content }}
	    {{ if .LoginError }}
	    <div class="notification is-danger">
		{{ .LoginError }}
	    </div>
	    {{ end }}
	    {{ end }}
	    <div class="field">
		<p class="control">
		    <button class="button is-primary">
			Login
		    </button>
		</p>
	    </div>
	</form>
    </div>
</section>
{{ end }}
