{{ define "navbar" }}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarAmigo">
		<a class="navbar-brand" href="/">{{ .EventName }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAmigoCollapse" aria-controls="navbarAmigoCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarAmigoCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Teams</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/challenges">Challenges</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/scoreboard">Scoreboard</a>
				</li>
			</ul>
			<ul class="navbar-nav my-2 my-md-0">
				{{ if .Team}}
					<span class="navbar-text">{{ .Team.Name }}</span>
					<li class="nav-item">
						<a class="nav-link" href="/guaclogin">Connect</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				{{ else }}
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
				{{ end }}
			</ul>
		</div>
	</nav>
{{end}}