{{ define "navbar" }}
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top stroke" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="/">{{ .EventName }}</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<div style="display: inline-table; white-space:nowrap;">
					<ul class="navbar-nav text-uppercase mr-auto">
						{{ if .Team }}
							<li class="nav-item">
								<a class="nav-link" href="/info"><i class="fas fa-info"></i> Info</a>
							</li>
						{{ end }}
						<li class="nav-item active">
							<a class="nav-link" href="/teams"><i class="fas fa-users"></i> Teams</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/challenges"><i class="fas fa-flag-checkered"></i> Challenges</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/scoreboard"><i class="fas fa-chess-board"></i> Scoreboard</a>
						</li>
						{{ if .Team }}
							<li class="nav-item">
								<a class="nav-link" href="/hosts"><i class="fas fa-file-alt"></i> Hosts</a>
							</li>
						{{ end }}
					</ul>
				</div>
				<ul class="navbar-nav text-uppercase ml-auto">
					{{ if .Team}}
						<span class="navbar-text my-auto mr-4">{{ .Team.Name }}</span>
						<li class="nav-item my-auto" style="display: flex">

					<!-- only browser based events will have ˜Connect˜  button -->
							{{ if eq .IsVPN  0 }}
							<div>
								<a class="btn btn-login" href="/guaclogin" target="_blank">Connect</a>
							</div>
							{{ end }}
							<!-- only VPN based events will have ˜VPN˜  button -->
							{{ if eq .IsVPN 1 }}
								<div id="vpn-dropdown-2"></div>
							{{ end }}
							<!-- Browser + VPN based events will have both `Connect` + `VPN`  buttons -->

							{{ if eq .IsVPN 2 }}
							<div id="vpn-dropdown"></div>
							<div class= "ml-2" style="float:right">
								<a class="btn btn-login" href="/guaclogin" target="_blank">Connect</a>
							</div>
							{{ end  }}
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					{{ else }}
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</nav>

{{end}}