{{ define "content" }}
	<img class="wave-bg-signup" src="/assets/img/wave-signup.png">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col" style="min-height: 800px!important; height: 100vh">
				<div class="login-content h-100">
					<form class="login-form" method="post" action="/signup">
						<h4>Create a Team</h4>
						<div class="input-div">
							<div class="input-div-icon">
								<i class="fas fa-at"></i>
							</div>
							<div class="input-div-input">
								<h5>Email</h5>
								<input class="input" name="email" type="email" maxlength="30">
							</div>
						</div>
						<div class="input-div">
							<div class="input-div-icon">
								<i class="fas fa-user"></i>
							</div>
							<div class="input-div-input">
								<h5>Team Name</h5>
								<input class="input" name="team-name" type="text" maxlength="15">
							</div>
						</div>
						<div class="input-div">
							<div class="input-div-icon">
								<i class="fas fa-lock"></i>
							</div>
							<div class="input-div-input">
								<h5>Password</h5>
								<input class="input" name="password" type="password" maxlength="20">
							</div>
						</div>
						<div class="input-div mb-2">
							<div class="input-div-icon">
								<i class="fas fa-lock"></i>
							</div>
							<div class="input-div-input">
								<h5>Repeat Password</h5>
								<input class="input" name="password-repeat" type="password">
							</div>
						</div>
						<div class="g-recaptcha ml-0 ml-sm-4" data-sitekey="6LduW74ZAAAAAI9eDk0Btd_fbjegoXOfCSR-kLSo"></div>
						<input type="submit" class="btn btn-login mt-3" value="Login">
							{{ with .Content }}
								{{ if .SignupError }}
									<div class="mt-2 text-danger">
										{{ .SignupError }}
									</div>
								{{ end }}
							{{ end }}
					</form>
				</div>
			</div>
			<div class="col myd-none" style="min-height: 800px!important;">
				<div class="svg-login h-100">
					<img src="/assets/img/login2.svg" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-bottom p-md-5 p-sm-2">
		<div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show float-right" data-autohide="false">
			<div class="toast-header">
				<strong class="mr-auto">Warning</strong>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				Non alphabetic characters are not allowed in team name and email fields (e.g. {, [, /, <)
			</div>
		</div>
	</div>
{{ end }}
