{{ define "content" }}
<section class="section">
    <div class="container">
	<form class="form" method="post" action="/signup">
	    <h1 class="title">Create a team</h1>
	    <div class="field">
		<label class="label">Email</label>
		<p class="control">
		    <input class="input" name="email" type="email" placeholder="Email" {{with .Content }}value="{{ .Email }}"{{end}}>
		</p>
	    </div>
	    <div class="field">
		<label class="label">Team Name</label>
		<p class="control">
		    <input class="input" name="team-name" type="text" placeholder="Team Name" {{with .Content }}value="{{ .TeamName }}"{{end}}>
		</p>
	    </div>
	    <div class="field">
		<label class="label">Password</label>
		<p class="control">
		    <input class="input" name="password" type="password" placeholder="Password">
		</p>
	    </div>
	    <div class="field">
		<label class="label">Repeat password</label>
		<p class="control">
		    <input class="input" name="password-repeat" type="password" placeholder="Repeat password">
		</p>
	    </div>
	    {{ with .Content }}
	    {{ if .SignupError }}
	    <div class="notification is-danger">
		{{ .SignupError }}
	    </div>
	    {{ end }}
	    {{ end }}
	    <div class="field">
		<p class="control">
		    <button class="button is-primary">
			Signup
		    </button>
		</p>
	    </div>
	</form>
    </div>
</section>
{{ end }}
