{{ define "content" }}
	<img class="wave-bg-signup" src="/assets/img/wave-signup.png">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col" style="min-height: 800px!important; height: 100vh">
				<div class="login-content h-100">
					{{ if .SignupPaused }}
						<h4>
							Signup is temporarily paused, new challenges are processing.
							Check few minutes later to sign up.
						</h4>
					{{ else }}
						<form class="login-form" method="post" action="/signup">
							<h4>Create a Team</h4>
							<div class="input-div">
								<div class="input-div-icon">
									<i class="fas fa-user"></i>
								</div>
								<div class="input-div-input">
									<h5>Team Name</h5>
									<input class="input" name="team-name" type="text" maxlength="15">
								</div>
							</div>
							<div class="input-div">
								<div class="input-div-icon">
									<i class="fas fa-lock"></i>
								</div>
								<div class="input-div-input">
									<h5>Password</h5>
									<input class="input" name="password" type="password">
								</div>
							</div>
							<div class="input-div mb-2">
								<div class="input-div-icon">
									<i class="fas fa-lock"></i>
								</div>
								<div class="input-div-input">
									<h5>Repeat Password</h5>
									<input class="input" name="password-repeat" type="password">
								</div>
							</div>
							{{ if .IsSecretEvent }}
								<div class="input-div mb-2">
									<div class="input-div-icon">
										<i class="fas fa-user-secret"></i>
									</div>
									<div class="input-div-input">
										<h5>Secret Key</h5>
										<input class="input" name="secret-event-key" type="password" maxlength="20" minlength="1">
									</div>
								</div>
							{{ end }}
							<div class="g-recaptcha ml-0 ml-sm-4" data-sitekey="6LduW74ZAAAAAI9eDk0Btd_fbjegoXOfCSR-kLSo"></div>
							<input type="submit" class="btn btn-login mt-3" value="Login">
								{{ with .Content }}
									{{ if .SignupError }}
										<div class="mt-2 text-danger">
											{{ .SignupError }}
										</div>
									{{ end }}
								{{ end }}
						</form>
					{{ end }}
				</div>
			</div>
			<div class="col myd-none" style="min-height: 800px!important;">
				<div class="svg-login h-100">
					<img src="/assets/img/login2.svg" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div style="width:100%;text-align:center;margin-top:calc(10% + 30px);"/>
{{ end }}
