*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: 'Ubuntu', sans-serif!important;
}

#navbarAmigo{
    position: absolute;
    width: 100%;
    top: 0;
    background: #211A52 !important;
    z-index: 100;
}

.mt-toppage{
    margin-top: 110px;
}
.mt-toppage-reset{
    margin-top: 0px;
}

.mb-botpage{
    margin-bottom: 180px;
}


/*used in scoreboard*/
.has-text-warning{
    color:#ffdd57 !important
}

.is-silver {
    color: #c9c9c9 !important;
}

.is-bronze {
    color: #cc861d !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    font-size: 15px;
    color: #ffffff;
}

.footer a{
    text-decoration: none;
    color: #f76c6c;
}
.footer a:hover{
    text-decoration: none;
    color: #f76c6c;
}

.btn-haaukins{
    background: #211A52;
}

#info-team{
    position: absolute;
    top: 17%;
    right: 0;
    background-color: #f76c6c;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    z-index: 1;
}

.nav-tabs a {
    color: #211A52 !important;
}

#info-tab .nav-link.active {
    background-color: #211A52 !important;
    color: #fff!important;
}

#info-tab .nav-link{
    color: #211A52;
}

#nav-tabContent{
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
    background-color: #f8f9fa;
}

/*To change*/

.form {
    padding: 30px;
    max-width: 460px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
}

.centerbox {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 0 auto;
}

#flagbox {
    max-width: 500px;
    padding: 20px;
}

/**************** NAVBAR **********************/
#mainNav {
    background-color: #211A52;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #f76c6c;
}

#mainNav .navbar-brand {
    color: #f76c6c;
    font-size: 1.5em;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 80%;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
}

.navbar-text{
    color: #777!important;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: none!important;
}

nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link:before,
.aau-developer a,
.aau-developer a:after,
.aau-developer a:before{
    transition: all .3s;
}

nav.stroke ul li .nav-link, .aau-developer a {
    position: relative;
}
nav.stroke ul li .nav-link:after, .aau-developer a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #211A52;
    height: 3px;
}
nav.stroke ul li .nav-link:hover:after, .aau-developer a:hover:after {
    width: 100%;
}

/************************ LOGIN - SIGNUP PAGE **********************/

.wave-bg{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    min-width: 100%;

}

.wave-bg-signup{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    min-width: 100%;
}

.wave-bg-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    z-index: -1;
    display: none;
}

.svg-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-login{
    color: #fff!important;
    background-color: #f76c6c!important;
    border-color: #f76c6c!important;
    width: 100%;
}
.btn-login:focus, btn-login.focus {
    outline: none!important;
    box-shadow: none!important;

}

.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.login-form{
    width: 360px;
    margin: auto;
    padding-bottom: 50px;
}

.login-content img{
    height: 180px;
    margin-top: 20px;
}

.login-content h2{
    margin: 15px 0;
    color: #444;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.login-content h4{
    margin: 15px 0;
    color: #444;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
}

.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div-icon{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div-icon i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #211A52;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .input-div-icon > i{
    color: #211A52;
}

.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #777;
}



/******** INDEX **************/

.wave-bg-index {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#indexpage p, h4{
    color: #444;
}

#indexpage h1, #scoreboardpage h1, #challengespage h1, #teamspage h1{
    font-size: 3rem;
    font-weight: bold;
    color: #444;
}

.aau-developer img{
    max-width: 200px;
    background-color: #fff;
    border-radius: 100%;
}
.aau-developer a{
    color: #211A52;
    font-weight: bold;
    padding-bottom: 3px;
}
.facebook-aau a{
    color: #211A52;
}
.aau-developer a:hover, .facebook-aau a:hover{
    text-decoration: none!important;
    color: #211A52!important;
}

.color-sec-aau{
    color: #f76c6c;
}
.color-sec-aau:hover{
    text-decoration: none;
    color: #f76c6c;
}
.sponsor{
    width: 100%;
    float: left;
}
.sponsor,
.sponsor li{
    padding: 10px;
    display: inline;
}

.sponsor li a img{
    width:90px;
    height:75px;
}
#indexpage .card{
    border: 0px !important;
}
#indexpage .card-body{
    padding: 0.3rem;
}
#indexpage .card-footer{
    background-color: #f76c6c;
    color: #ffffff;
    border-color: #f76c6c;
}

#indexpage .card-footer a{
    color: #ffffff;
}
#indexpage .card-footer a:hover{
    color: #ffffff;
    text-decoration: none;
}

/*************** General Pages ***************/
.wave-bg-general{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
}

.table th, .table td {
     border-top: 0px!important;
}

table tbody tr{
    background-color: #fff;
    font-family: 'Orbitron', sans-serif!important;
    letter-spacing: 1px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(233, 235, 245)!important;
}
/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 10px!important;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 10px!important;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px!important;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px!important;
}

.category-header h3{
    font-size: 2rem;
    color: #444;
}

.challenge-button{
    font-family: 'Audiowide', cursive;
}

.chal-name, .chal-value{
    font-family: 'Audiowide', cursive;
    font-size: 1.8rem;
    color: #444;
}

.chal-desc p, .dark-color{
    color: #444;

}
.chal-desc ul{
    padding-left: 40px;
}

.chal-desc ol{
    padding-left: 40px;
}

.text-black{
    color: #000000;
}

.flag-form .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.my-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.scoreboard-border{
    border-style: solid;
    border-width: 2px;
    border-color: #a5b1d4;
    border-top: none;
    border-bottom: none;
}
.scoreboard-border:last-child{
    border-style: solid;
    border-width: 2px;
    border-color: #a5b1d4;
    border-top: none;
    border-bottom: none;
    border-right: none!important;
}

.rank-col{
    width: 50px;
    position:sticky;
    position: -webkit-sticky;
    left:0px;
}
.team-col{
    width: 180px;
    position:sticky;
    position: -webkit-sticky;
    left:50px;
}
.score-col{
    width: 70px;
    position:sticky;
    position: -webkit-sticky;
    left:230px;
    border-right: none!important;
}

/*big screen*/
@media (min-width: 992px) {
    #mainNav {
        padding-top: 35px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        transition: all 0.3s;
        font-weight: bold;
        color: #f76c6c;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
        font-size: 1em;
        font-weight: bold;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        font-size: 80%;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #211A52;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #211A52;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
}

/*small screen*/
@media screen and (max-width: 992px){

    .mb-botpage{
        margin-bot: 140px;
    }
    .aau-developer img{
        max-width: 170px;
    }
    .aau-developer{
        font-size: 14px;
    }
    .myd-none{
        display: none;
    }
    .wave-bg{
        display: none;
    }
    .wave-bg-footer{
        display: block;
    }
    .wave-bg-signup{
        display: none;
    }
    .wave-bg-index{
        display: none;
    }
    .wave-bg-general{
        display: none;
    }
    .footer{
        font-size: 12px;
    }
    .sponsor,
    .sponsor li{
        padding: 0px;
    }
    .sponsor li a img{
        width:70px;
        height:65px;
    }
    .aau-developer .col-sm-7{
        text-align: center;
    }
    #indexpage p{
        font-size: 14px;
    }
    .rank-col{
        width: 50px;
        position:static;
    }
    .team-col{
        width: 180px;
        position:sticky;
        left:0px;
    }
    .score-col{
        width: 70px;
        position:static;
        border-right: none!important;
    }
}

@media (min-width: 576px) {
    .my-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mt-toppage-reset{
        margin-top: 120px;
    }
    .my-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width: 1260px;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1840px;
    }
}